<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img
          [src]= "linkedinlogo"
          alt="Linkedin"
          class="img-responsive"
          id="navbar-img">
      </a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li
          routerLinkActive="active">
          <a [routerLink]="['/', uid, 'home']">Home</a>
        </li>
        <li>
          <a
             [routerLink]="['/', uid, 'home']"
             (click)="onIntroduction()"
             style="cursor: pointer;">Introduction</a>
        </li>
        <li>
          <a
             [routerLink]="['/', uid, 'home']"
             (click)="onEducation()"
             style="cursor: pointer;">Education</a>
        </li>
        <li>
          <a (click)="onExperience()"
             [routerLink]="['/', uid, 'home']"
             style="cursor: pointer;">Experience</a>
        </li>
        <li>
          <a (click)="onSkills()"
             [routerLink]="['/', uid, 'home']"
             style="cursor: pointer;">Skills</a>
        </li>
        <li
          routerLinkActive="active">
          <a (click)="onLogout()" style="cursor: pointer">
            <span class="glyphicon glyphicon-log-out">
            </span>
            LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
