<div class="row">
  <div class="col-xs-12" id="about-css">
    <a
      class="list-group-item clearfix">
      <div class="pull-left">
        <h2 style="font-weight: bold">Education</h2>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link" id="btns" (click)="onNewEducation()">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1237/1237946.png?w=900"
            alt="Add"
            class="img-responsive"
            id="add-img">
        </button>
      </div>
    </a>
    <app-education-item *ngFor="let eduEl of educations"
                        [edu]="eduEl"
                        [index]="eduEl.id" [uid]="id"></app-education-item>
  </div>
</div>


