<app-header></app-header>

<div class="row">
  <div class="col-xs-12" id="about-css">
    <a
      class="list-group-item clearfix">
      <div class="pull-left">
        <h2 style="font-weight: bold">Skills</h2>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link" id="btns" (click)="onNewSkill()">
          <img
            src="https://image.flaticon.com/icons/png/512/1237/1237946.png"
            alt="Add"
            class="img-responsive"
            id="add-img">
        </button>
      </div>
    </a>
    <app-skill-item
      *ngFor="let skillEl of skills"
    [skill] = "skillEl"
    (isSkillDeleted)="whenSkillDeleted($event)"></app-skill-item>
    <hr>
<!--    <router-outlet></router-outlet>-->
  </div>
</div>


