<div class="row formCss">
  <div class="col-xs-12">
    <h2 style="color: white;">
      Welcome to Linkedin Page! {{ isLoginMode ? 'Login to your account!' : 'Register here!' }}
      </h2>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email" style="color: white;">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            name="email">
            <span
              *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
              class="help-block">Invalid Email!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password" style="color: white;">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
            name="password">
            <span
              *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
              class="help-block">Password is required!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <button
            type="submit"
            class="btn btn-default"
            [disabled]="!loginForm.valid" style="margin-right: 5%">{{ isLoginMode ? 'Login' : 'Register' }}</button>
          <button type="button" class="btn btn-default"
                  (click)="onSwitchMode()">{{ !isLoginMode ? 'Login' : 'Register' }}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>
             <span
               *ngIf="error"
               class="help-block">Invalid Credentials!</span>
          </h3>
        </div>
      </div>
    </form>
  </div>
</div>
