<div class="row">
  <div class="col-xs-12" id="about-css">
    <a
      class="list-group-item clearfix">
      <div class="pull-left">
        <h2 style="font-weight: bold">Experience</h2>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link" id="btns">
          <img
            src="https://image.flaticon.com/icons/png/512/1237/1237946.png"
            alt="Add"
            class="img-responsive"
            id="add-img">
        </button>
      </div>
    </a>
    <app-experience-item *ngFor="let expEl of experiences"
                         [exp]="expEl"></app-experience-item>
  </div>
</div>


