<app-header></app-header>

<a
  class="list-group-item clearfix" id="about-css">
  <div class="pull-right">
    <button type="button" class="btn btn-link" id="btns" (click)="onEditExperience()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1239/1239335.png?w=900"
        alt="Edit"
        class="img-responsive"
        id="add-img">
    </button>
    <button type="button" class="btn btn-link" id="btns" (click)="onDeleteExperience()">
      <img
        src="https://image.flaticon.com/icons/png/512/1214/1214594.png?w=900"
        alt="Delete"
        class="img-responsive"
        id="add-img">
    </button>
  </div>

  <div class="pull-left" id="experience_details">
    <h3 class="list-group-item-heading" style="font-weight: bolder">Title: {{ exp.title }}</h3>
    <h4 class="list-group-item-text" style="font-weight: bold">Company Name: {{ exp.companyName }}</h4>
    <h4 class="list-group-item-text">Employment Type: {{ exp.empType }}</h4>
    <h4 class="list-group-item-text">Location: {{ exp.location }}</h4>
    <h4 class="list-group-item-text">Start Date: {{ exp.startDate }}</h4>
    <h4 class="list-group-item-text">End Date: {{ exp.endDate }}</h4>
    <h4 class="list-group-item-text">Description: {{ exp.description }}</h4>
  </div>

</a>
<br>
<div class="pull-right" >
  <button type="button" class="btn btn-default" id="btns" (click)="onBackExperience()">
    Back
  </button>
</div>
