<a
  class="list-group-item clearfix">
  <div class="pull-left">
    <h3 class="list-group-item-heading">{{ skill.skillName }}</h3>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-link" id="btns" (click)="onEditSkill()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1239/1239335.png?w=900"
        alt="Edit"
        class="img-responsive"
        id="add-img">
    </button>
    <button type="button" class="btn btn-link" id="btns" (click)="onDelete()">
      <img
        src="https://image.freepik.com/free-icon/close-delete-remove-button_318-9073.jpg"
        alt="Delete"
        class="img-responsive"
        id="add-img">
    </button>
  </div>
</a>
